.notes-container{
  width: 100%;
  height: 31vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
} 

.container.notes-div {
  display: flex;
  flex-direction: column;
  position: relative;
  word-break: break-all;
  color: black;
  width: 80%;
}

.bloc-tabs {
  display:flex;
  align-items: center;
  justify-content: center;
}

.tabs{
  padding: 15px;
  text-align: center;
  width: 20%;
  background-color: white;
  border: 1px solid grey;
  border-top: none;
  cursor: pointer;
  margin: 0 0 0 0;
  box-sizing: content-box;
  position: relative;
  outline: none;
}

.tabs:not(:last-child){
  border-right: 1px solid rgba(0,0,0, 0.274);
}

.active-tabs{
  background-image: linear-gradient(to top right, white, #5DEBD7); 
  border: none;
  color: #1679AB;
  font-weight: bold;
}

.active-tabs::after{
  border-top: 5px solid #1679AB;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: initial;
  animation: new 0.4s;

}

@keyframes new{
  from{
    top: 50px;
    left: 0;
    right: 0;
    background: grey;
  }

  top{
    top: 50px;
    left: 0;
    right: 0;
    border-top: 5px solid grey;
  }
}

.content-tabs{
  flex-grow: 1;
  padding: 0;
}

.content {
  display: none;
}

textarea {
  resize: none;
  height: 20vh;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  box-sizing: border-box;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
}

.active-content {
  display: block;
}

.container-div {
  position: relative;
}
.container__textarea {
  background: white;
  caret-color: rgb(0 0 0);
  color: transparent;
  position: relative;
}
.container__mirror {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  overflow: hidden;
  pointer-events: none;
}
.container__mirror a {
  pointer-events: auto;
}

@media (max-width:991px){
  textarea{
    font-size: .7rem;
  }
  .tabs, .active-tabs{
    font-size: .7rem;
    font-weight: bold;
  }
}

@media (max-width:450px){
  textarea{
    font-size: .4rem;
  }
  .tabs, .active-tabs{
    font-size: .4rem;
    font-weight: bold;
  }
}
