

.mood-board-container {
    width: 69%;
    color: blue;
    background-color: white;
    border: 7px solid #1679AB;
    border-radius: 15px;
    height: 55vh;
    margin: 0 0 0 10px;
    padding: 0;
    float: left;
}