.heading{
  margin: 0;
  color: white;
  text-align: center;
  font-size: .8rem;
  font-weight: bold;
}

.weather-bar-div.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.weather-bar-container {
  background-color: #5DEBD7;
  height: 30%;
  padding-bottom: 5px;

}

.moodify-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input{
  border-radius: 40px;
  background: #ebfffc;
  border: none;
  color: #626262;
  display: flex;
  font-size: 18px;
  width: 370px;
  height: 20px;
  outline: none;
  padding-left: 30px; 
  }

.search-img {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 3%;
  height: 80%;
}

.weather-div {
  display: flex;
  gap: 10px;
  margin: 0 8% 0 8%;
  align-items: center;
  justify-content: center;
}

.message-div {
  line-height: 3rem;
}

.forecast-div {
  align-items: center; 
  background-color: #1679AB;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  padding: .5%;
  gap: 15%;
}

.temprature-div{
  align-items: center; 
  background-color: #1679AB;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  padding: .4% 3% .4% 3%;
  gap: 15%;
}

.weather-icon {
  width: 40%;
}

.temp-div{
  padding: .2% 5% .2% 5%;
}

.city-name {
  white-space: nowrap;
}

.location-text, .humidity-text, .wind-text, .uvIndex-icon, .message-text {
  display: inline-block;
  padding: 1%
}

.forecast-icon{
  width: 17%;
}

.weather-data{
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button{
  margin: 0;
  padding: 0;
  border: 0 transparent;
  background: transparent;
}

@media (max-width:991px){

  .search-bar input{
    font-size: 9px;
    width: 185px;
    }

  .weather-data{
    font-size: 0.5rem;
  }

  .heading{
    font-size: .6rem;
    font-weight: bold;
  }

  .weather-bar-div.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .weather-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
   gap: 5px;
  }
  .weather-icon {
    width: 20%;
  }

  .logo-icon{
    width: 50%;
  }
  .txt{
    display: none;
  }

}

@media (max-width:450px){
   .txt{
     display: none;
   }

}